body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: #193549;
    text-align: center;
    font-size: 50px;
    color: white;

    .controls {
        margin-bottom: 50px;


    }

}