html {
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
  overflow: hidden;
}

.panels {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: font-size 1s cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 1s cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11), font-size 1s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11), font-size 1s cubic-bezier(0.61, -0.19, 0.7, -0.11), -webkit-box-flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.panel p {
  color: white;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel.panel1 {
  background-image: url("https://source.unsplash.com/gYl-UtwNg_I/1500x1500");
}

.panel.panel2 {
  background-image: url("https://source.unsplash.com/rFKUFzjPYiQ/1500x1500");
}

.panel.panel3 {
  background-image: url("https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d");
}

.panel.panel4 {
  background-image: url("https://source.unsplash.com/ITjiVXcwVng/1500x1500");
}

.panel.panel5 {
  background-image: url("https://source.unsplash.com/3MNzGlQM7qs/1500x1500");
}

.panel > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.panel > *:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.panel > *:last-child {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.panel--open {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  font-size: 40px;
}

.panel--open--active > *:first-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.panel--open--active > *:last-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=style.css.map */