
body{
    margin: 0px;
    padding:0px;

    .main-wrapper{
        background-image: url(./images/abstract.jpg);
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .clock-face{
            height: 15rem;
            width: 15rem;
            border: 4px solid black;
            border-radius: 50%;
            position:relative;
            padding:2rem;
        
            .hand{
                height:3px;
                width:40%;
                background-color:black;
                position: absolute;
                top:50%;
                transform-origin: 100%;
                transition:all 0.3s;
                transition-timing-function: cubic-bezier(0, 2.63, 0.82, 0.99);
            }
        }
    }
}
